@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&family=Roboto+Mono&display=swap');

:root {
    --main-color: #CED7F3;
    --main-bg-color: #0D192D;
    --link-colour: #5EE9C5;
}

* {
    background-color: var(--main-bg-color);
    color: var(--main-color);
    font-family: 'Roboto Mono', monospace;

}

* {
    transition: all 0.3s ease-in-out;
}

.container {
    clear: both;
    overflow: auto;
}

nav {
    float: right;
    margin-right: 30px;
}

.logo {
    margin: auto;

}

ul li,
.logo {
    display: inline-block;
    padding: 10px;
    font-size: 13px;
}

ul li:hover {
    color: var(--link-colour) !important;
    ;
}

hr {
    opacity: 0.25;
    border-top: 1px solid #CED7F3;
}

#resume {
    padding: 10px;
    border: 1px solid var(--link-colour) !important;
    ;
    border-radius: 5px;
    color: var(--link-colour) !important;
    ;
}

#hero-container {
    display: block;
    margin: 50px;
    height: 100%;
    width: 50%;
    margin-left: 13%;
    margin-top: 10%
}

h1 {
    font-family: "Poppins";
    font-weight: 800;
    font-size: 55px;
    margin-bottom: 0;
    line-height: 1.2;
}

#mini {
    color: #8A93AD;
    margin-top: 0;
}

#description {
    line-height: 1.5;
    width: 80%;
}

#intro {
    line-height: 0;
    margin-bottom: 0;
    color: #8A93AD !important;
}

#learn-more {
    border: 1px solid var(--link-colour) !important;
    padding: 20px 40px;
    border-radius: 5px;

}

.fixedElement {
    position: fixed;
    bottom: 0;
    left: -66px;
    width: 20rem;
    -webkit-transform: rotate(90deg);
}

.icons {
    position: fixed;
    line-height: 2;
    width: 32px;
    vertical-align: bottom;
    left: 80px;
    bottom: 22%;
}

.fa:hover {
    color: var(--link-colour) !important;
}

.test {
    height: 1500px;
}

.left-tech {
    float: left;
    width: 50%;
}

.right-tech {
    float: right;
    width: 50%;
}

.about-container {
    display: block;
    margin: 50px;
    height: 100%;
    width: 50%;
    margin-left: 13%;
    margin-top: 300px;
    float: left;
}

#photo {
    transition: 600ms;
    width: 400px;
    float: left;
    color: var(--link-colour) !important;
    box-shadow:
        20px 20px 0px -3px var(--link-colour) !important;
}

#photo:hover {
    box-shadow:
        10px 10px 0px -3px var(--link-colour) !important;
}

#overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 1);
    z-index: 2;
    cursor: pointer;
}

.about-container,
#photo {
    margin-top: 300px;
}

.fa-caret-right {
    color: var(--link-colour) !important;
}

.small-heading {
    color: #8A93AD;
}

.link-heading {
    color: var(--link-colour) !important;
}

.project-container {
    width: calc(100% - 13%);
    margin: 13%;
    display: inline-block;
}

.project-layout {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.project-layout * {
    flex: 1 1 calc(50% - 13%);
}