@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&family=Roboto+Mono&display=swap');

:root {
    --main-color: #CED7F3;
    --main-bg-color: #0D192D;
}

* {
    background-color: var(--main-bg-color);
    color: var(--main-color);
    font-family: 'Roboto Mono', monospace;

}

* {
    transition: all 0.3s ease-in-out;
}

.container {
    clear: both;
    overflow: auto;
}

nav {
    float: right;
    margin-right: 30px;
}

.logo {
    margin: auto;

}

ul li,
.logo {
    display: inline-block;
    padding: 10px;
    font-size: 13px;
}

ul li:hover {
    color: #5EE9C5;
}

hr {
    opacity: 0.25;
    border-top: 1px solid #CED7F3;
}

#resume {
    padding: 10px;
    border: 1px solid #5EE9C5;
    border-radius: 5px;
    color: #5EE9C5;
}

#hero-container {
    display: block;
    margin: 50px;
    height: 100%;
    width: 50%;
    margin-left: 10%;
    margin-top: 10%
}

h1 {
    font-family: "Poppins";
    font-weight: 800;
    font-size: 55px;
    margin-bottom: 0;
    line-height: 1.2;
}

#mini {
    color: #8A93AD;
    margin-top: 0;
}

#description {
    line-height: 1.5;
    width: 80%;
}

#intro {
    line-height: 0;
    margin-bottom: 0;
    color: #8A93AD;
}

#learn-more {
    border: 1px solid #5EE9C5;
    padding: 20px 40px;
    border-radius: 5px;
  
}